openapi: 3.0.1
info:
  title: core-lending-loan-origination
  description: Loan Origination Core Application
  contact:
    name: Firefly Software Solutions Inc
    email: dev@getfirefly.io
  version: 1.0.0
servers:
  - url: http://core.getfirefly.io/loan-origination
    description: Development Environment
  - url: /
    description: Local Development Environment
tags:
  - name: Application External Bank Accounts
    description: Manage external bank accounts for loan applications
  - name: ApplicationStatus
    description: Operations on Application Statuses
  - name: UnderwritingDecision
    description: Manage underwriting decisions for a loan application
  - name: ApplicationExternalCall
    description: Manage external calls for a loan application
  - name: ApplicationVerification
    description: Manage verifications for a loan application
  - name: LoanApplicationStatusHistory
    description: Manage status history records for a loan application
  - name: ApplicationParty
    description: Manage parties for a loan application
  - name: ApplicationCommunication
    description: Manage communications for a loan application
  - name: ApplicationMetric
    description: Manage metrics for a loan application
  - name: ApplicationTask
    description: Manage tasks for a loan application
  - name: ApplicationException
    description: Manage exceptions for a loan application
  - name: ApplicationFee
    description: Manage fees for a loan application
  - name: LoanApplications
    description: Operations on Loan Applications
  - name: ApplicationCondition
    description: Manage conditions for a loan application
  - name: ApplicationDocument
    description: Manage documents for a loan application
  - name: ProposedOffer
    description: Manage proposed loan offers for a loan application
  - name: UnderwritingScore
    description: Manage underwriting score records for a loan application
  - name: ApplicationComment
    description: Manage comments for a loan application
  - name: ApplicationCollateral
    description: Manage collateral items for a loan application
paths:
  /api/v1/loan-applications/{applicationId}:
    get:
      tags:
        - LoanApplications
      summary: Get loan application by ID
      description: Retrieves a specific loan application.
      operationId: getLoanApplication
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanApplicationDTO'
    put:
      tags:
        - LoanApplications
      summary: Update loan application
      description: Updates an existing loan application record.
      operationId: updateLoanApplication
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanApplicationDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanApplicationDTO'
    delete:
      tags:
        - LoanApplications
      summary: Delete loan application
      description: Deletes a loan application by ID.
      operationId: deleteLoanApplication
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/verifications/{verificationId}:
    get:
      tags:
        - ApplicationVerification
      summary: Get a verification
      description: Fetch a specific verification record by ID.
      operationId: getVerification
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: verificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationVerificationDTO'
    put:
      tags:
        - ApplicationVerification
      summary: Update a verification
      description: Updates an existing verification record.
      operationId: updateVerification
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: verificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationVerificationDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationVerificationDTO'
    delete:
      tags:
        - ApplicationVerification
      summary: Delete a verification
      description: Removes a verification record from the application.
      operationId: deleteVerification
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: verificationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/tasks/{taskId}:
    get:
      tags:
        - ApplicationTask
      summary: Get a task
      description: Fetch a specific task record by ID.
      operationId: getTask
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationTaskDTO'
    put:
      tags:
        - ApplicationTask
      summary: Update a task
      description: Updates an existing task record.
      operationId: updateTask
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationTaskDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationTaskDTO'
    delete:
      tags:
        - ApplicationTask
      summary: Delete a task
      description: Removes a task record from the application.
      operationId: deleteTask
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: taskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/status-history/{statusHistoryId}:
    get:
      tags:
        - LoanApplicationStatusHistory
      summary: Get a status record
      description: Retrieves a specific status history record.
      operationId: getStatusHistory
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: statusHistoryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanApplicationStatusHistoryDTO'
    put:
      tags:
        - LoanApplicationStatusHistory
      summary: Update a status record
      description: Updates an existing status history record.
      operationId: updateStatusHistory
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: statusHistoryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanApplicationStatusHistoryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanApplicationStatusHistoryDTO'
    delete:
      tags:
        - LoanApplicationStatusHistory
      summary: Delete a status record
      description: Removes a status history entry.
      operationId: deleteStatusHistory
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: statusHistoryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/scores/{scoreId}:
    get:
      tags:
        - UnderwritingScore
      summary: Get a score
      description: Fetch a specific underwriting score record by ID.
      operationId: getScore
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scoreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnderwritingScoreDTO'
    put:
      tags:
        - UnderwritingScore
      summary: Update a score
      description: Updates an existing underwriting score record.
      operationId: updateScore
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scoreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnderwritingScoreDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnderwritingScoreDTO'
    delete:
      tags:
        - UnderwritingScore
      summary: Delete a score
      description: Removes a scoring record from the application.
      operationId: deleteScore
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: scoreId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/parties/{partyId}:
    get:
      tags:
        - ApplicationParty
      summary: Get a party
      description: Fetches details of a specific party associated with the application.
      operationId: getParty
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: partyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationPartyDTO'
    put:
      tags:
        - ApplicationParty
      summary: Update a party
      description: Updates a party's information.
      operationId: updateParty
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: partyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPartyDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationPartyDTO'
    delete:
      tags:
        - ApplicationParty
      summary: Remove a party
      description: Deletes the association of a party from the application.
      operationId: deleteParty
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: partyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/offers/{offerId}:
    get:
      tags:
        - ProposedOffer
      summary: Get an offer
      description: Fetch a specific offer record by ID.
      operationId: getOffer
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProposedOfferDTO'
    put:
      tags:
        - ProposedOffer
      summary: Update an offer
      description: Updates the details of an existing proposed offer.
      operationId: updateOffer
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposedOfferDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProposedOfferDTO'
    delete:
      tags:
        - ProposedOffer
      summary: Delete an offer
      description: Removes a proposed offer from the application.
      operationId: deleteOffer
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: offerId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/metrics/{metricId}:
    get:
      tags:
        - ApplicationMetric
      summary: Get a metric
      description: Fetch a specific metric record by ID.
      operationId: getMetric
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: metricId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationMetricDTO'
    put:
      tags:
        - ApplicationMetric
      summary: Update a metric
      description: Updates an existing metric record.
      operationId: updateMetric
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: metricId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationMetricDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationMetricDTO'
    delete:
      tags:
        - ApplicationMetric
      summary: Delete a metric
      description: Removes a metric record from the application.
      operationId: deleteMetric
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: metricId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/fees/{feeId}:
    get:
      tags:
        - ApplicationFee
      summary: Get a fee
      description: Fetch a specific fee record by ID.
      operationId: getFee
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: feeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationFeeDTO'
    put:
      tags:
        - ApplicationFee
      summary: Update a fee
      description: Updates an existing fee record.
      operationId: updateFee
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: feeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationFeeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationFeeDTO'
    delete:
      tags:
        - ApplicationFee
      summary: Delete a fee
      description: Removes a fee record from the application.
      operationId: deleteFee
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: feeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/external-calls/{callId}:
    get:
      tags:
        - ApplicationExternalCall
      summary: Get an external call
      description: Fetch a specific external call record by ID.
      operationId: getExternalCall
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: callId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationExternalCallDTO'
    put:
      tags:
        - ApplicationExternalCall
      summary: Update an external call
      description: Updates an existing external call record.
      operationId: updateExternalCall
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: callId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationExternalCallDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationExternalCallDTO'
    delete:
      tags:
        - ApplicationExternalCall
      summary: Delete an external call
      description: Removes an external call record from the application.
      operationId: deleteExternalCall
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: callId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/external-bank-accounts/{externalBankAccountId}:
    get:
      tags:
        - Application External Bank Accounts
      summary: Get an external bank account by ID
      operationId: get
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: externalBankAccountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationExternalBankAccountDTO'
    put:
      tags:
        - Application External Bank Accounts
      summary: Update an external bank account
      operationId: update
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: externalBankAccountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationExternalBankAccountDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationExternalBankAccountDTO'
    delete:
      tags:
        - Application External Bank Accounts
      summary: Delete an external bank account
      operationId: delete
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: externalBankAccountId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /api/v1/loan-applications/{applicationId}/exceptions/{exceptionId}:
    get:
      tags:
        - ApplicationException
      summary: Get an exception
      description: Fetch a specific exception record by ID.
      operationId: getException
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: exceptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationExceptionDTO'
    put:
      tags:
        - ApplicationException
      summary: Update an exception
      description: Updates an existing exception record.
      operationId: updateException
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: exceptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationExceptionDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationExceptionDTO'
    delete:
      tags:
        - ApplicationException
      summary: Delete an exception
      description: Removes an exception record from the application.
      operationId: deleteException
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: exceptionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/documents/{documentId}:
    get:
      tags:
        - ApplicationDocument
      summary: Get a document
      description: Fetch a specific document record by ID.
      operationId: getDocument
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: documentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationDocumentDTO'
    put:
      tags:
        - ApplicationDocument
      summary: Update a document record
      description: Updates metadata for an existing document.
      operationId: updateDocument
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: documentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDocumentDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationDocumentDTO'
    delete:
      tags:
        - ApplicationDocument
      summary: Delete a document record
      description: Removes a document record from the application.
      operationId: deleteDocument
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: documentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/decisions/{decisionId}:
    get:
      tags:
        - UnderwritingDecision
      summary: Get a decision
      description: Fetch a specific underwriting decision record by ID.
      operationId: getDecision
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: decisionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnderwritingDecisionDTO'
    put:
      tags:
        - UnderwritingDecision
      summary: Update a decision
      description: Updates an existing underwriting decision record.
      operationId: updateDecision
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: decisionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnderwritingDecisionDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnderwritingDecisionDTO'
    delete:
      tags:
        - UnderwritingDecision
      summary: Delete a decision
      description: Removes a decision record from the application.
      operationId: deleteDecision
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: decisionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/conditions/{conditionId}:
    get:
      tags:
        - ApplicationCondition
      summary: Get a condition
      description: Fetch a specific condition record by ID.
      operationId: getCondition
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: conditionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationConditionDTO'
    put:
      tags:
        - ApplicationCondition
      summary: Update a condition
      description: Updates an existing condition record.
      operationId: updateCondition
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: conditionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationConditionDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationConditionDTO'
    delete:
      tags:
        - ApplicationCondition
      summary: Delete a condition
      description: Removes a condition record from the application.
      operationId: deleteCondition
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: conditionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/communications/{communicationId}:
    get:
      tags:
        - ApplicationCommunication
      summary: Get a communication
      description: Fetch a specific communication record by ID.
      operationId: getCommunication
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: communicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationCommunicationDTO'
    put:
      tags:
        - ApplicationCommunication
      summary: Update a communication
      description: Updates an existing communication record.
      operationId: updateCommunication
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: communicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCommunicationDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationCommunicationDTO'
    delete:
      tags:
        - ApplicationCommunication
      summary: Delete a communication
      description: Removes a communication record from the application.
      operationId: deleteCommunication
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: communicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/comments/{commentId}:
    get:
      tags:
        - ApplicationComment
      summary: Get a comment
      description: Fetch a specific comment record by ID.
      operationId: getComment
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationCommentDTO'
    put:
      tags:
        - ApplicationComment
      summary: Update a comment
      description: Updates an existing comment record.
      operationId: updateComment
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCommentDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationCommentDTO'
    delete:
      tags:
        - ApplicationComment
      summary: Delete a comment
      description: Removes a comment record from the application.
      operationId: deleteComment
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: commentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications/{applicationId}/collaterals/{collateralId}:
    get:
      tags:
        - ApplicationCollateral
      summary: Get a collateral item
      description: Fetch a specific collateral record by ID.
      operationId: getCollateral
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationCollateralDTO'
    put:
      tags:
        - ApplicationCollateral
      summary: Update a collateral item
      description: Updates the details of an existing collateral record.
      operationId: updateCollateral
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCollateralDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationCollateralDTO'
    delete:
      tags:
        - ApplicationCollateral
      summary: Delete a collateral item
      description: Removes a collateral record from the application.
      operationId: deleteCollateral
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: collateralId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/document-types/{id}:
    get:
      tags:
        - document-type-controller
      operationId: getDocumentTypeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentType'
    put:
      tags:
        - document-type-controller
      operationId: updateDocumentType
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentType'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DocumentType'
    delete:
      tags:
        - document-type-controller
      operationId: deleteDocumentType
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /api/v1/decision-codes/{id}:
    get:
      tags:
        - decision-code-controller
      operationId: getDecisionCodeById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DecisionCode'
    put:
      tags:
        - decision-code-controller
      operationId: updateDecisionCode
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionCode'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DecisionCode'
    delete:
      tags:
        - decision-code-controller
      operationId: deleteDecisionCode
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /api/v1/application-statuses/{applicationStatusId}:
    get:
      tags:
        - ApplicationStatus
      summary: Get application status by ID
      description: Retrieves a specific application status.
      operationId: getApplicationStatus
      parameters:
        - name: applicationStatusId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationStatusDTO'
    put:
      tags:
        - ApplicationStatus
      summary: Update application status
      description: Updates an existing application status record.
      operationId: updateApplicationStatus
      parameters:
        - name: applicationStatusId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationStatusDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationStatusDTO'
    delete:
      tags:
        - ApplicationStatus
      summary: Delete application status
      description: Deletes an application status by ID.
      operationId: deleteApplicationStatus
      parameters:
        - name: applicationStatusId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /api/v1/loan-applications:
    get:
      tags:
        - LoanApplications
      summary: Filter loan applications
      description: Returns a paginated list of loan applications using filtering.
      operationId: filterLoanApplications
      parameters:
        - name: pagination.pageNumber
          in: query
          description: Page number (0-based)
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: pagination.pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: pagination.sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
        - name: pagination.sortDirection
          in: query
          description: Sort direction (ASC or DESC)
          required: false
          schema:
            type: string
            default: DESC
        - name: options.caseInsensitiveStrings
          in: query
          description: Enable case-insensitive string filtering
          required: false
          schema:
            type: boolean
            default: false
        - name: options.includeInheritedFields
          in: query
          description: Include fields from parent classes
          required: false
          schema:
            type: boolean
            default: false
        - name: filters.applicationNumber
          in: query
          description: Exact filter for application number
          required: false
          schema:
            type: string
        - name: filters.applicationStatusId
          in: query
          description: Exact filter for application status id
          required: false
          schema:
            type: string
        - name: filters.applicationSubStatusId
          in: query
          description: Exact filter for application sub status id
          required: false
          schema:
            type: string
        - name: filters.applicationDate
          in: query
          description: Exact filter for application date
          required: false
          schema:
            type: string
        - name: filters.submissionChannelId
          in: query
          description: Exact filter for submission channel id
          required: false
          schema:
            type: string
        - name: filters.partyId
          in: query
          description: Exact filter for party id
          required: false
          schema:
            type: string
        - name: filters.distributorId
          in: query
          description: Exact filter for distributor id
          required: false
          schema:
            type: string
        - name: filters.distributorAgencyId
          in: query
          description: Exact filter for distributor agency id
          required: false
          schema:
            type: string
        - name: filters.distributorAgentId
          in: query
          description: Exact filter for distributor agent id
          required: false
          schema:
            type: string
        - name: filters.businessUnit
          in: query
          description: Exact filter for business unit
          required: false
          schema:
            type: string
        - name: filters.branchId
          in: query
          description: Exact filter for branch id
          required: false
          schema:
            type: string
        - name: filters.loanPurpose
          in: query
          description: Exact filter for loan purpose
          required: false
          schema:
            type: string
        - name: filters.loanPurposeDescription
          in: query
          description: Exact filter for loan purpose description
          required: false
          schema:
            type: string
        - name: filters.submittedAt
          in: query
          description: Exact filter for submitted at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[submittedAt].from
          in: query
          description: Filter submitted at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[submittedAt].to
          in: query
          description: Filter submitted at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.firstReviewAt
          in: query
          description: Exact filter for first review at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[firstReviewAt].from
          in: query
          description: Filter first review at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[firstReviewAt].to
          in: query
          description: Filter first review at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.decisionDueDate
          in: query
          description: Exact filter for decision due date
          required: false
          schema:
            type: string
        - name: filters.expectedClosingDate
          in: query
          description: Exact filter for expected closing date
          required: false
          schema:
            type: string
        - name: filters.loanOfficerId
          in: query
          description: Exact filter for loan officer id
          required: false
          schema:
            type: string
        - name: filters.assignedAt
          in: query
          description: Exact filter for assigned at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[assignedAt].from
          in: query
          description: Filter assigned at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[assignedAt].to
          in: query
          description: Filter assigned at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.isRush
          in: query
          description: Exact filter for is rush
          required: false
          schema:
            type: boolean
        - name: filters.isException
          in: query
          description: Exact filter for is exception
          required: false
          schema:
            type: boolean
        - name: filters.requiresManualReview
          in: query
          description: Exact filter for requires manual review
          required: false
          schema:
            type: boolean
        - name: filters.externalReferenceNumber
          in: query
          description: Exact filter for external reference number
          required: false
          schema:
            type: string
        - name: filters.sourceSystem
          in: query
          description: Exact filter for source system
          required: false
          schema:
            type: string
        - name: filters.disbursementMethodType
          in: query
          description: Exact filter for disbursement method type
          required: false
          schema:
            type: string
            enum:
              - INTERNAL_ACCOUNT
              - EXTERNAL_ACCOUNT
        - name: filters.disbursementInternalAccountId
          in: query
          description: Exact filter for disbursement internal account id
          required: false
          schema:
            type: string
        - name: filters.disbursementExternalBankAccountId
          in: query
          description: Exact filter for disbursement external bank account id
          required: false
          schema:
            type: string
        - name: filters.repaymentMethodType
          in: query
          description: Exact filter for repayment method type
          required: false
          schema:
            type: string
            enum:
              - INTERNAL_ACCOUNT
              - EXTERNAL_ACCOUNT
        - name: filters.repaymentInternalAccountId
          in: query
          description: Exact filter for repayment internal account id
          required: false
          schema:
            type: string
        - name: filters.repaymentExternalBankAccountId
          in: query
          description: Exact filter for repayment external bank account id
          required: false
          schema:
            type: string
        - name: filters.note
          in: query
          description: Exact filter for note
          required: false
          schema:
            type: string
        - name: filters.createdAt
          in: query
          description: Exact filter for created at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].from
          in: query
          description: Filter created at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[createdAt].to
          in: query
          description: Filter created at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: filters.updatedAt
          in: query
          description: Exact filter for updated at
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].from
          in: query
          description: Filter updated at from value
          required: false
          schema:
            type: string
            format: date-time
        - name: rangeFilters.ranges[updatedAt].to
          in: query
          description: Filter updated at to value
          required: false
          schema:
            type: string
            format: date-time
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanApplicationDTO'
    post:
      tags:
        - LoanApplications
      summary: Create a new loan application
      description: Creates a new loan application record.
      operationId: createLoanApplication
      parameters:
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanApplicationDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanApplicationDTO'
  /api/v1/loan-applications/{applicationId}/verifications:
    get:
      tags:
        - ApplicationVerification
      summary: List verifications
      description: Retrieves a paginated list of verifications for a loan application.
      operationId: findAllVerifications
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseApplicationVerificationDTO'
    post:
      tags:
        - ApplicationVerification
      summary: Add a verification
      description: Adds a new verification record for the application.
      operationId: createVerification
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationVerificationDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationVerificationDTO'
  /api/v1/loan-applications/{applicationId}/tasks:
    get:
      tags:
        - ApplicationTask
      summary: List tasks
      description: Retrieves a paginated list of tasks for a loan application.
      operationId: findAllTasks
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseApplicationTaskDTO'
    post:
      tags:
        - ApplicationTask
      summary: Add a task
      description: Adds a new task record for the application.
      operationId: createTask
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationTaskDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationTaskDTO'
  /api/v1/loan-applications/{applicationId}/status-history:
    get:
      tags:
        - LoanApplicationStatusHistory
      summary: List status history
      description: Retrieves a paginated list of status history entries for a loan application.
      operationId: findAllStatusHistory
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseLoanApplicationStatusHistoryDTO'
    post:
      tags:
        - LoanApplicationStatusHistory
      summary: Create a status record
      description: Creates a new status history record for a loan application.
      operationId: createStatusHistory
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanApplicationStatusHistoryDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LoanApplicationStatusHistoryDTO'
  /api/v1/loan-applications/{applicationId}/scores:
    get:
      tags:
        - UnderwritingScore
      summary: List scores
      description: Retrieves a paginated list of underwriting scores for a loan application.
      operationId: findAllScores
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseUnderwritingScoreDTO'
    post:
      tags:
        - UnderwritingScore
      summary: Create a new score
      description: Adds a new underwriting score record.
      operationId: createScore
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnderwritingScoreDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnderwritingScoreDTO'
  /api/v1/loan-applications/{applicationId}/parties:
    get:
      tags:
        - ApplicationParty
      summary: List parties
      description: Retrieves a paginated list of parties tied to a loan application.
      operationId: findAllParties
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseApplicationPartyDTO'
    post:
      tags:
        - ApplicationParty
      summary: Add a new party
      description: Adds a new party (co-applicant, guarantor, etc.) to the application.
      operationId: createParty
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationPartyDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationPartyDTO'
  /api/v1/loan-applications/{applicationId}/offers:
    get:
      tags:
        - ProposedOffer
      summary: List offers
      description: Retrieves a paginated list of proposed offers for a loan application.
      operationId: findAllOffers
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseProposedOfferDTO'
    post:
      tags:
        - ProposedOffer
      summary: Create a new offer
      description: Adds a new proposed offer to a loan application.
      operationId: createOffer
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProposedOfferDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProposedOfferDTO'
  /api/v1/loan-applications/{applicationId}/metrics:
    get:
      tags:
        - ApplicationMetric
      summary: List metrics
      description: Retrieves a paginated list of metrics for a loan application.
      operationId: findAllMetrics
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseApplicationMetricDTO'
    post:
      tags:
        - ApplicationMetric
      summary: Add a metric
      description: Adds a new metric record for the application.
      operationId: createMetric
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationMetricDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationMetricDTO'
  /api/v1/loan-applications/{applicationId}/fees:
    get:
      tags:
        - ApplicationFee
      summary: List fees
      description: Retrieves a paginated list of fees for a loan application.
      operationId: findAllFees
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseApplicationFeeDTO'
    post:
      tags:
        - ApplicationFee
      summary: Add a fee
      description: Adds a new fee record for the application.
      operationId: createFee
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationFeeDTO'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApplicationFeeDTO'
  /api/v1/loan-applications/{applicationId}/external-calls:
    get:
      tags:
        - ApplicationExternalCall
      summary: List external calls
      description: Retrieves a paginated list of external calls for a loan application.
      operationId: findAllExternalCalls
      parameters:
        - name: applicationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: pageNumber
          in: query
          description: The zero-based page number to retrieve.
          required: false
          schema:
            type: string
            description: The zero-based page number to retrieve.
            example: 0
            default: '0'
          example: 0
        - name: pageSize
          in: query
          description: The number of items per page.
          required: false
          schema:
            type: string
            description: The number of items per page.
            example: 10
            default: '10'
          example: 10
        - name: sortBy
          in: query
          description: The field to sort the results by.
          required: false
          schema:
            type: string
            description: The field to sort the results by.
            example: name
          example: name
        - name: sortDirection
          in: query
          description: The direction of sorting, either ASC or DESC.
          required: false
          schema:
            type: string
            description: The direction of sorting, either ASC or DESC.
            example: DESC
            default: DESC
          example: DESC
        - name: X-Idempotency-Key
          in: header
          description: Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PaginationResponseApplicationExternalCallDTO'
    post:
      tags:
        - ApplicationExternalCall
      summary: Add an external call
[...]
